* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    /* border:1px solid; */
}
:root {
    --background-top:rgb(24, 13, 15);
    --background-white:rgb(253, 244, 244);
    --color-one:pink;
    --another-color:rgb(255, 39, 75);
}
@media screen and (max-width:1000px) {
    * {
        /* border:1px solid; */
    }
    body {
        width:100vw;
        height:100vh;
        overflow: hidden;
    }
    #container {
        height:100vh !important;
        width:100vw !important;
        font-size:13px;
        padding:0 2px;
        border-radius: 0% !important;
    }
    .selling-page {
        height:95vh !important;
        width:100%;
    }
    .header {
        display:flex;
        justify-content: space-between;
        align-items:center;
        padding:0 5px !important;
        height:6vh;
        position:sticky;
        top:0 !important;
        position: relative;
        border-bottom:1px solid gray;

    }
    .empty-container {
        display:none;
    }
    .header button {
        cursor:pointer;
        height:4vh;
        width:70px !important;
        font-size: 12px;
    }
    #welcome-message {
        font-size:2.0rem !important;
    }
    .info p {
        font-size:1.0rem !important;
    }
    .info p:first-of-type {
        font-size:1.5rem !important;
    }
    #item-number {
        top:10% !important;
        left:75.2% !important;
    }
    #selected-product {
        height:55vh !important;
    }
    .right button {
        top:52% !important;
        left:12% !important;
    }
    .lucky-item {
        flex-direction: column;
        align-items: center;
    }
    .item-price {
        left:75% !important;
        top:52% !important;
    }
    .other-products {
        height:30vh !important;
    }
    .other-products button {
        height:25vh !important;
        margin:0 5px !important;
    }
    .cart-item {
        height:130px;
    }
    #cart-page {
        height:90vh !important;
        overflow: scroll ;
    }
    .cart-item-last {
        height:100px !important;
    }

}
 body {
    height:100vh;
    width:100vw;
    overflow:hidden;
    display:flex;
    align-items: center;
    justify-content: center;
}
#container {
    border:1px solid;
    height:90vh;
    width:80%;
    border-radius:30px;
}
.selling-page {
    height:85vh;
    width:100%;
}
.header {
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding:0 20px;
    height:5vh;
    position:sticky;
    top:5vh;
    border-bottom:1px solid gray;
}
.header button {
    cursor:pointer;
    height:4vh;
    width:80px;
}
#item-number {
    height:15px;
    border:1px solid;
    border-radius:50%;
    width:13px;
    position:absolute;
    top:15%;
    left:89.2%;
    background-color: var(--another-color);
    color: var(--background-top);
    font-size:12px;
    text-align:center;
    padding-bottom:5px;
    border:none;
}
.header button:hover {
   color: var(--another-color);
}
.header p {
    font-size:1.2rem;
    font-weight:900;
}
.header .empty-container {
    width:50%;
    height:22px;
    border-radius:5px;
    background-color: rgb(230, 219, 219);
    text-align:center;
    padding-top:2px;

}
.tabs {
    height:5vh;
    display: flex;
    justify-content: space-between;
}
.tabs button {
    height:inherit;
    width:34%;
    cursor:pointer;
    border-top:none;
    border-bottom:none;
}
.tabs button:focus {
    background-color: var(--color-one);
}
.products {
    height:75vh;
    width:100%;
}
#selected-product {
    height:40vh;
    background:linear-gradient(
        90deg,
        var(--background-top) 30%,
        var(--background-white)
    );
}
#welcome-message {
    font-size:3.0rem;
    text-align:center;
    padding-top:40px;
    font-weight:900;
}
.info {
    width:90%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding:5px 0;
}
.info p {
    font-size:1.5rem;
    color:var(--color-one);
}
.info p:first-of-type {
    font-size:2.5rem;
    font-weight:900;
}
.right {
    padding:5px 10px;
}
.right button {
    position:absolute;
    top:45%;
    left:69%;
    width:50px;
    height:50px;
    border-radius:50%;
    background-color: var(--another-color);
    color:var(--background-white);
    border:none;
    cursor:pointer;
}
.right button:active {
    background-color: var(--background-top);
}
.lucky-item {
    height:inherit;
    width:100%;
    display:flex;
    justify-content: space-between;
}
.item-price {
    position:absolute;
    left:85%;
    top:45%;
    width:50px;
    height:50px;
    border-radius:50%;
    text-align: center;
    padding-top:15px;
    background-color:var(--another-color);
    color:var(--background-white);
}
.lucky-item img {
    height:40vh;
    width:40vh;
    object-fit:contain;
    border-radius:50%;
    border:1px solid;
}
.other-products {
    height:35vh;
    width:inherit;
    display: grid;
    grid-template-columns: repeat(5,300px);
    align-items: center;
    overflow:scroll;
}
.other-products button {
    height:30vh;
    width:200px;
    margin:0 10px;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-between;
    cursor:pointer;
}
.other-products button img {
    width:100%;
    height:90%;
}
.other-products button:focus {
    background-color: var(--color-one);
    border:1px solid var(--color-one);
}
.other-products button img:focus {
    background-color: var(--color-one);
}
#clothes {
    display:grid;
}
#shoes {
    display:none;
}
#beddings {
    display:none;
}
.footer {
    height:5vh;
    text-align:center;
    padding:1vh;
}

#cart-page {
    height:80vh;
    background: linear-gradient(
        180deg,
        var(--another-color),
        var(--background-top)
    );
    width:100%;
    flex-wrap:wrap;
    gap:10px;
    display:none;
    padding:20px;
}
.cart-item {
    height:180px;
    width:100px;
    background-color: var(--color-one);
    border-radius:10px;
    padding:0 2px;
}
.cart-item-last {
    width:300px;
    font-size:18px;
    font-weight:800;
}
.cart-item img {
    height:100px;
    width:98px;
    border:1px solid;
} 